.minecraft-players {
  width: 100%;
  background: #ffffff;
  border: solid 1px;
  border-color: #ddd #bbb #999;
  border-radius: 0.5em;
  padding: 1em;
  box-shadow: -0.75em 0.75em 0.5em #ddd;
  text-align: center;
}

.minecraft-players ul {
  list-style-type: none;
  margin: 0;
}

.minecraft-players li,
.minecraft-player-name {
  width: 100%;
  text-align: center;
}

.minecraft-player-image {
  width: 50%;
  margin: 0 auto;
}